.banner-body{
    position: relative;
}

.banner-item{
    position: absolute;
    bottom: 0;
    left: -100px;
}

.name{
    font-size: 50px;
    color: orange;
}

.social-icon i{
font-size: 20px;
cursor: pointer;
}

.social-icon i:hover{
    color: orange;
}

@media screen and (min-width:200px) and (max-width:500px) {
    .banner-body {
      
      height: 400px!important;
    }
  }